.empty {
    text-align: center;
    margin-top: 40%;
    color: #7b7b7b;
    font-size: 16px;
}

ion-icon {
    font-size: 24px;
}

ion-item {
    --padding-end: 10px;
    border-radius: 12px;
    margin-bottom: 8px;
    --background: #f7faff;
}

ion-buttons {
    display: flex;
    gap: 4px;
}

ion-button[color="danger"] {
    --color: #a32626;
}