#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-card {
  margin-top: 10px;
}

ion-item h2 {
  font-weight: 600;
}

ion-content {
  background: #f7f8fc;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #2b2b2b;
}

/* ===== Custom Toast Styles ===== */
.medguide-toast {
  border-radius: 16px;
  font-size: 15px;
  padding: 12px 16px;
  margin-bottom: 80px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  letter-spacing: 0.3px;
  animation: slideUp 0.3s ease-in-out;
}

.success-toast {
  background-color: #e3f9e5;
  /* soft green */
  color: #006d3b;
  border: 1px solid #b2e2b9;
}

.delete-toast {
  background-color: #fef3f2;
  /* soft red */
  color: #a32626;
  border: 1px solid #f6b6b6;
}

@keyframes slideUp {
  from {
    transform: translateY(30px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.reminder-toast {
  background-color: #eaf4ff;
  /* soft blue */
  color: #004085;
  border: 1px solid #b8daff;
}